@charset "utf-8";


/* 🤦‍♂️🤦‍♀️ header 🤦‍♂️🤦‍♀️ */
header {
    width: 1920px;
    height: 100px;
    background-color: #121212;
    color: #f9f9f9;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}
header .inner {
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .inner ul li {
    display: inline-block;
}
header .inner nav ul li {
    font-size: 20px;
    margin: 0 35px;
}
header .inner .right_menu li:nth-child(1) {
    margin-right: 20px;
}

.main_btn {
    position: fixed;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
    z-index: 10;
}
.main_btn ul li {
    width: 200px;
    height: 50px;
    color: #f9f9f9;
    text-align: center;
    border-radius: 50%;
    margin: 10px 0;
    line-height: 50px;
    font-weight: bold;
}

.main_btn ul li.on {
    color: #fcc100
}


/* 🤦‍♀️🤦‍♂️ .main_visual 🤦‍♀️🤦‍♂️ */
.main_visual {
    height: 1080px;
}
.main_visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 🤦‍♂️🤦‍♀️ .video 🤦‍♂️🤦‍♀️ */
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    display: none;
}
.video .swiper-button-prev {
    background: url('../img/left-arrow.png') 0 0 / 100% no-repeat;
}
.video .swiper-button-next {
    background: url('../img/right-arrow.png') 0 0 / 100% no-repeat;
}

.video {    
    padding: 97px 0;
}
.video .tab_menu li {
    display: inline-block;
    color: #f9f9f9;
    margin-right: 20px;
}
.video .tab_menu li.on {
    position: relative;
    color: #333;
}
.video .tab_menu li.on::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #333;
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.video .list {
    padding-top: 100px;
}
.video .list .list_in {
    display: none;
}
.video .list .list_in.on {
    display: block;
}
.video .list .list_in .swiper-slide {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.video .list .list_in .swiper-slide .youtube_wrap {
    width: 60%;
}
.video .list .list_in .swiper-slide .youtube_wrap .youtube {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.video .list .list_in .swiper-slide .youtube_wrap .youtube iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.video .list .list_in .swiper-slide .info {
    width: 40%;
    padding-left: 50px;
}
.video .list .list_in .swiper-slide .info h4 {
    font-size: 25px;
}
.video .list .list_in .swiper-slide .info p {
    margin: 10px 0 20px;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
}
.video .list .list_in .swiper-slide .info dl {
    display: flex;
    margin-bottom: 20px;
}
.video .list .list_in .swiper-slide .info dl dt {
    width : 90px;
    line-height: 1.5;
    font-weight: bold;
}
.video .list .list_in .swiper-slide .info dl dd {
    width: 440px;
    line-height: 1.5;
}
.video .list .list_in .swiper-slide .info .btn {
    margin-top: 120px;
}
.video .list .list_in .swiper-slide .info .btn img {
    width: 40px;
    height: 40px;
}
/* 슬라이드 버튼, 페이징 위치 변경 */
.video {
    background-color: #f9f9f975;
}
.video .list {
    position: relative;
}
.video .swiper {
    position: static;
    /* 머튼 위치값 해제 */
}
.video .swiper-button-next {
    top: 40px;
    right: auto;
    left: 70px;
    margin-top: 0;
}
.video .swiper-button-prev{
    top: 40px;
    left: 0;
    margin-top: 0;
}
.video .swiper-pagination {
    bottom: auto;
    top: 46px;
    width: auto;
    left: 30px;
}




/* 🤦‍♂️🤦‍♀️ .profile 🤦‍♂️🤦‍♀️ */
.profile {
    padding: 200px 0;
}
.profile .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile .list figure {
    width: 203px;
    height: 232px;
    margin: 0 auto;
    background-color: #fff;
}
.profile .list figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}
.profile .list .info {
    width: 1000px;
    padding-left: 100px;
}
.profile .list .info ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 10px 0;   
}
.profile .list .info ul li {
    line-height: 30px;
} 
.profile .list .info ul li strong {
    width: 180px;
    display: inline-block;
}
.profile .list .info .skill {
    margin-top: 40px;
}
.profile .list .info .skill li {
    height: 50px;
    line-height: 50px;
    background-color: #C58940;
    border-radius: 40px;
    color: #f9f9f9;
    font-size: 16px;
    margin: 5px;
    padding: 0 30px;
    font-weight: bold;
}
.profile .list .info .skill .w {
    background-color: #E5BA73;
}


/* 🤦‍♀️🤦‍♂️ web 🤦‍♀️🤦‍♂️ */
.web {
    padding: 40px 0;
}
.web .title {
    text-align: center;
}
.web .list {
    display: flex;
    justify-content: centers;
    overflow: hidden; 
}
.web .list .item {
    width: calc(100% / 2 - 15px);
    /* 3 컨텐츠 개수 - 15px 간격*/
    margin: 0 50px;
}

.web .list .item figure {
    width: 100%;
    height: 365px;
    background: url(../img/monitor.png) 0 0 / 100% 100% no-repeat;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.web .list .item figure img {
    width: 56%;
    position: absolute;
    top: 17%;
    left: 26%;
    z-index: -1;
}
.web .list .item figure:hover img {
    animation: slide 5s infinite linear;
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-68%);
    }
}


.web .list .item .info {

    padding: 40px;
}
.web .list .item .info h4 {
    font-size: 25px;
}
.web .list .item .info p {
    font-size: 14px;
    line-height: 1.3;
    margin: 8px 0 20px;
}         
.web .list .item .info dl {
    display: flex;
    margin-bottom: 10px;
}
.web .list .item .info dl dt {
    margin-right: 20px;
    font-weight: bold;
}
.web .list .item .info .btn {
    margin-top: 40px;
}
.web .list .item .info .btn img {
    width: 40px;
    height: 40px;
}

/* 🤦‍♀️🤦‍♂️ .graphic 🤦‍♀️🤦‍♂️ */
.graphic {
    padding: 97px 0;
    background-color: #f9f9f975;
}
.graphic .title {
    text-align: center;
}
.graphic .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.graphic .list .item {
    width: calc(100% / 4 - 15px);
    margin-bottom: 30px;
}

.graphic .list .item a:hover img {
    transform: scale(1.1);
    transition: 0.7s;
}


.graphic .list .item:nth-of-type(1){
    height: 100px;
}
.graphic .list .item a img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 40px;
}
.graphic .list .item a:hover img {
    transform: scale(1.1);
    transition: 0.7s;
}

.graphic .list .item .info h4 {
    margin: 15px 0 1 0px;
    font-size: 25px;
}

/* 🤦‍♀️🤦‍♂️ footer 🤦‍♀️🤦‍♂️ */
footer {
    padding: 70px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
footer ul {
    margin-bottom: 40px;
}
footer ul li{
    height: 50px;
    line-height: 50px;
    width: 200px;
    background-color: #e0c9a2;
    color: #333;
    margin: 10px auto;
    font-weight: bold;
    border-radius: 40px;
}
footer ul li a{
    display: block;
}
footer p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.6);
}

.pointer {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 30;
    transform: translate(-50%,-50%);
    background: #ffae00;
    border: 1px solid #ffae00;
    border-radius: 50%;
    pointer-events: none;
    box-sizing: border-box;
    transition: all 0.15s;
}
.pointer1 {
    transition: 0.05s;
    opacity: 0.9;
}
.pointer2 {
    transition: 0.06s;
    opacity: 0.7;
}
.pointer3 {
    transition: 0.07s;
    opacity: 0.6;
}
.pointer4 {
    transition: 0.08s;
    opacity: 0.5;
}
.pointer5 {
    width: 9px;
    height: 9px;
    opacity: 0.4;
    transition: 0.09s;
}
.pointer6 {
    width: 9px;
    height: 9px;
    opacity: 0.3;
    transition: 0.1s;
}
.pointer7 {
    width: 8px;
    height: 8px;
    opacity: 0.2;
    transition: 0.11s;
}
.pointer8 {
    width: 7px;
    height: 7px;
    opacity: 0.1;
    transition: 0.12s;
}
.pointer9 {
    width: 6px;
    height: 6px;
    opacity: 0.1;
    transition: 0.13s;
}